:root {
  --MAIN-BCKGND-CLR: rgb(241, 235, 235);
  --COLUMNS-BCKGND-CLR: rgb(245, 245, 245);
  --BCKGND-GRADIENT: linear-gradient(to right,rgb(165, 218, 165),rgb(72, 163, 72));
  /* --BCKGND-GRADIENT: linear-gradient(to right,rgb(184, 192, 218),rgb(96, 98, 248)); */
  --SIDE-COLUMN-WIDTH: 20%;
  --MAIN-COMPONENT-WIDTH: 80%;
  --LOGO-COLOR: rgb(124, 172, 124);
  /* --LOGO-COLOR: rgb(95, 116, 175); */
}

body {
  font-family:"Gill Sans Extrabold", sans-serif;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;  
  background-color: var(--MAIN-BCKGND-CLR);
}

#app {
  width: var(--MAIN-COMPONENT-WIDTH);
}

.central-container {
  width: 60%;
  background-color: var(--MAIN-BCKGND-CLR);
  white-space: initial;
  word-wrap: break-word;
}

.right-container {
  min-width:120px;
}

.left-container {
  min-width:120px;
}

.register-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--COLUMNS-BCKGND-CLR);
  box-shadow: 0 7px 15px -3px black;
}

.register-form {
  width: var(--MAIN-COMPONENT-WIDTH);
  padding: 10px;
  background-color: var(--MAIN-BCKGND-CLR);
}

.email-sent-notification {
  display: flex;
  flex-direction: column;
  gap: 15px;;
  align-items: center;
  width: var(--MAIN-COMPONENT-WIDTH);
  padding-bottom: 10px;
  background-color: var(--MAIN-BCKGND-CLR);
}

.email-sent-notification a {
  text-decoration: none;
  color: black;
}

.email-sent-notification button {
  width: 80px;
}

.email-sent-notification img {
  width: fit-content;
}

.sending {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--MAIN-COMPONENT-WIDTH);
  padding: 10px;
  background-color: var(--MAIN-BCKGND-CLR);
  min-height: 470px;
}

.login-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
}

.login-inputs button {
  height: 22px;
}

/** Spinning Wheel */
#wrapper{
  position:relative;
  /*background:#333;*/
  height:100%;
}

.profile-main-loader{
  left: 50% !important;
  margin-left:-100px;
  top: 55% !important;
  margin-top: 100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height:200px;
}

.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}

@keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}


@media (max-width: 1500px) {
  #app {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .central-container {
    display: none;
  }

  .left-container {
    width: 50%;
  }

  .right-container {
    width: 50%;
  }

  .register-form {
    width: 100%;
  }

  .sending {
    width: 100%;
  }

  .email-sent-notification {
    width: 100%;
  }

  .email-sent-notification img {
    width: 320px;
  }

  .register-container .left-container {
    display: none;
  }

  .login-inputs {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
}