body {
  font-family:"Gill Sans Extrabold", sans-serif;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;  
  background-color: rgb(241, 235, 235);
}

#app {
  width: 80%;
}

@media(max-width: 665px) {
  #app {
    width: 100%;
  }
}
