@import 'primeicons/primeicons.css';

:root {
  /* COLORS */
  --THEME-HEADER-COLOR: rgb(63, 62, 62);
  --DANGER-RED: rgb(220, 0, 0);
  --LOGO-COLOR: rgb(124, 172, 124);
  --TEXT-GLOW-COLOR: rgb(36, 141, 17);

  /* BACKGROUNDS */
  --CENTRAL-BCKGND-CLR: rgb(226, 219, 219);
  --COLUMNS-BCKGND-CLR: rgb(245, 245, 245);
  --TEXT-BCKGND-CLR: rgba(204, 204, 204, 0.98);
  --BCKGND-COLOR-WHEN-SHADOW: rgb(190, 190, 190);

  /* SHADOWS */
  --GLOW-BOX-SHADOW: rgba(158, 158, 158, 0.8) 0 0 10px 2px;
  --COMPONENT-BOX-SHADOW: 0 7px 15px -3px black;
  --INPUT-BOX-SHADOW: 4px 3px 4px -1px black;
  --PNG-IMAGE-SHADOW: 5px 5px 5px #222;

  /* GRADIENTS */
  --BCKGND-GRADIENT: linear-gradient(to right,rgb(165, 218, 165),rgb(72, 163, 72));
  --THEME-HEADER-BCKGND-GRADIENT: linear-gradient(to top,rgb(180, 231, 180),rgb(148, 216, 148));

  /* SIZES */
  --LEFT-COLUMN-WIDTH: 15%;
  --RIGHT-COLUMN-WIDTH: 15%;
  --CENTRAL-COLUMN_WIDTH: 70%;
  --MAIN-COMPONENT-WIDTH: 85%;
  --APP-COMPONENT-WIDTH: 90%;
  --APP-COMPONENT-MIN-HEIGHT: 810px;
  --HEADER-HEIGHT: 90px;
  --SEARCHBAR-HEIGHT: 60px;
  --TITLE-HEIGHT: 36px;
}

body {
  font-family:"Gill Sans Extrabold", sans-serif;
  /* font-size: medium; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-color: var(--CENTRAL-BCKGND-CLR);
}

#app {
  width: 100%;
  /* var(--APP-COMPONENT-WIDTH); */
  min-height: var(--APP-COMPONENT-MIN-HEIGHT);
}

.central-container {
  width: var(--CENTRAL-COLUMN_WIDTH);
  background-color: var(--CENTRAL-BCKGND-CLR);
  padding: 10px;
  /* white-space: initial;
  word-wrap: break-word; */
}

.right-container {
  width: var(--RIGHT-COLUMN-WIDTH);
  background-color: var(--COLUMNS-BCKGND-CLR);
}

.left-container {
  width: var(--LEFT-COLUMN-WIDTH);
  background-color: var(--COLUMNS-BCKGND-CLR);
  word-break: break-word;
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: var(--CENTRAL-BCKGND-CLR);
  height: 90%;
  box-shadow: var(--COMPONENT-BOX-SHADOW);
}
  
.title {
  text-align: center;
  align-content: center;
  height: var(--TITLE-HEIGHT);
}

.form-container {
  padding: 10px;
  font-size: small;
  background-color: var(--CENTRAL-BCKGND-CLR);
}

.red-star {
  color: red;
}

.email-sent-notification {
  display: flex;
  flex-direction: column;
  gap: 15px;;
  align-items: center;
  width: var(--APP-COMPONENT-WIDTH);
  padding-bottom: 10px;
  background-color: var(--CENTRAL-BCKGND-CLR);
}

.email-sent-notification a {
  text-decoration: none;
  color: black;
}

.email-sent-notification button {
  width: 80px;
}

.email-sent-notification img {
  width: fit-content;
}

.sending {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--APP-COMPONENT-WIDTH);
  padding: 10px;
  background-color: var(--CENTRAL-BCKGND-CLR);
  min-height: 470px;
}

.login-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
}

.login-inputs button {
  height: 22px;
}

@media (max-width: 1500px) {
  #app {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .central-container {
    width: 100%;
  }

  .left-container {
    display: none;
  }

  .right-container {
    display: none;
  }

  .register-form {
    width: 100%;
  }

  .sending {
    width: 100%;
  }

  .email-sent-notification {
    width: 100%;
  }

  .email-sent-notification img {
    width: 320px;
  }

  .create-form-container {
    width: 100%;
  }

  .login-inputs {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
}